*{
    margin: 0;
    padding: 0;
}
body{
    font: 12px arial 'microsoft yahei';
    background-color: rgb(244,244,244);
    color: #666;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
li{
    list-style: none;
}
a{
   text-decoration: none;     
}
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f18{
	font-size: 18px;
}
.f20{
	font-size: 20px;
}
/*清除浮动*/
.clearfix:before, .clearfix:after{
	content: '';
	display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}

